{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="background-black">
    <div class="home-main-div">
        <div class="home-text-div ">
            <div class="home-text-bg">

                <h1 class="text-center p-2 d-block header-text ">
                    Skip The Diet, Just Eat healthy!
                </h1>
                <p class="text-center heading-text home-p">A webpage where you can find delicious recipes for healthy
                    meals,
                    snacks and drinks. You can share your own recipes if you like and leave comments on other peoples.
                </p>
            </div>

            <div class="container text-center">


                <div class="row justify-content-center mt-4 mb-3">

                    <button class="btn btn-width btn-warning me-md-4 w-25 mb-2">See Recipes</button>
                    <button class="btn btn-width1 btn-warning w-25 mb-2">Log in</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}