@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {

    /* Fonts */
    --title: 'Anton', 'serif';
    --main-font: 'Roboto', 'serif';

    /* Colors */
    --background: #3f006a0f;
    --orange: #ffc107;
    --green: #00AB66;
    --dark_green: #007144;
    --off-white: #f6f6f6;
    --white: #fff;
    --beige-light: #faf0e6;
    --beige-light2: #c9bca2;

    /* Utils */
    --smal-box-shadow: 1px -1px 7px 0 #00000061;
    --border: 1px solid #00000030;   
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
}

h1, h2, h3, h4, h5, h6 {
    font-family:var(--title);
}

main {
    flex: 1 0 auto;
    background-color: var(--beige-light);
}

.heart-icon {
    margin-right: 7px;
}
.text-secondary { 
    color: black !important;

}

/* Header */

/* Search field */
.search-flex {
    margin-right: 60px !important;
}

.btn {
    border-radius: 15px;
    border-width: 2px;
}

.navbar {
    background-color: rgb(2, 35, 7);
}

.navbar-brand {
    font-family: var(--title);
    color: var(--white);
}

.navbar-brand:hover {
    color: var(--off-white) !important;
}

.icon-div {
    color: var(--orange);
}

/* Setting color to the hambuger icon */
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 165, 0, 1%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");   
}

img.logo {
    height: 30px;
    width: 30px;
    margin-right: 5px;
}

.nav-link {
    color: var(--off-white);
}

.nav-link:hover {
    color: var(--orange);
}

.active {
    color: var(--orange) !important;
    font-weight: 500;
}

/* Border buttons */

.border-orange {
    border-color: #74650f;
}

.border-green {
    border-color: #194722;
}

.border-red {
    border-color: #640303;
}


/* Home page */
.home-main-div {
    background-image: url("../images/ella-olsson-KPDbRyFOTnE-unsplash.webp");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;    
}

.btn-width {
    width: 11% !important;
}

.btn-width1 {
    width: 11% !important;
}

.home-text-bg {
    background-color: rgba(73, 137, 42, 0.8);
    width: 50vw;
    position: relative;
    top: 40%;
    transform: translateY(-50%);
    margin-left: 25%;
    padding: 20px;
    border-radius: 15px;
}

.heading-text {
    color: white;
    text-shadow: 0 2px 4px #000000d9;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 100%;
}

.background-black {
    height:100%;
    width:100%;
    background-color: #689d66;
}

.home-text-div {
    top: 50%;
    position: relative;
    transform: translateY(-50%)
}

.header-text {
    color: var(--white);
}

.mt-4 {
    margin-top: 14rem !important;
}


/* Forms */
.form {
    width: 100%;
    margin: 3% auto;
    box-shadow: var(--smal-box-shadow);
    border-radius: 5px;
}

/* Recipes */ 
.card-recipes {
    height: 90%;
    margin-top: 1rem;
    background-color: var(--off-white);
}

.recipes {
    text-decoration: none;
    color: black;
}

.recipes:hover {
    cursor: pointer;
}

.recipe-info {
    display: flex;
    flex-direction: column;
}

.recipe-container{
    display: flex;
    flex-direction: column;
}

.ingredients, .instructions, .recipe-detail {
    width: 100%;
}

.recipe-img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.recipe.pic {
    width: 100%;
    height: auto;
}

/* Profile page */
.profile-img {
    width: 280px;
    margin: 0 auto;
}

.profile-img img {
    border-radius: 8px;
    width: 100%;
}

.profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info {
    width: 100%;
    text-align: center;
}

.color-title {
    color: #212529;
}

.color-title:hover {
    color: var(--orange);
}

.profile-r-img {
    height: 100px;
}

.mt-text {
    margin-top: 5px;
}

.close {
    cursor: pointer;
}

.profile-model {
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
}

/* Hide the checkbox for remember me */
.form-check .form-check-input {
    display: none;
}

.form-check-label {
    display: none;
}

.sign-in, .sign-up {
    color: var(--green) !important;
    text-decoration: none;
}

#div_id_login {
    text-align: left;
}

#div_id_password {
    text-align: left;
}

#div_id_email {
    text-align: left;
}

#div_id_username {
    text-align: left;
}

#div_id_password1 {
    text-align: left;
}

#div_id_password2 {
    text-align: left;
}


 /* Log out page */
    
 .log-out {
    margin-top: 10%;
}

/* Comments */
.display-comments {
    border: none;
    border-radius: 0px 25px 25px 0px;
    color: var(--off-white);
    background-color: rgb(2, 35, 7);
}

.create-comment {
    border: none;
    border-radius : 25px 0px 0px 25px;
    color: var(--off-white);
    background-color: rgb(2, 35, 7);
}
.comment-user {
    background-color: var(--dark_green);
    width: fit-content;
    border-radius: 10px 10px 10px 10px;
    padding: 3px;
    margin-left: -10px;
}

/* Like count */

.like-count {
    margin-right: 10px;
}

/* Django Messages */

.alert-dismissible {
    margin-top: 20px;
    background-color: var(--dark_green);
    color: var(--beige-light);
}

.img-fluid1 {
    width: 100%;
    height: 200px; 
    object-fit: cover;
  }

.img-fluid2 {
    width: 100%;
    height: 300px; 
    object-fit: cover;
}

/* Footer */
footer {
    flex-shrink: 0;
    background-color: rgb(2, 35, 7);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: var(--border);
}

.social-icon {
    height: 2rem;
    margin: 1rem;
}

.social-icon-youtube {
    height: 2.7rem;
    margin: 1rem;
}

.follow-text {
    color: var(--orange);
    padding-right: 15px;
}

@media screen and (max-width: 576px) {

    /* Home page */

    .home-text-bg {
        width: 65vw;
        margin-left: 18%;
        top: 35%;
        padding: 10px;
    }
    
    .w-25 {
        width: 36% !important;
    }

    .btn-home {
        margin-left: 10px;
    }

    .justify-content-center{
        justify-content: space-between;
    }

    .mt-4 {
        margin-top: 9rem !important;
    }

    /* About page */ 

    .about-text {
        padding: 25px;
    }

    .col-5 {
        width: 100%;
    }

    .col-6 {
        width: 100%;
    }

    /* Recipes */

    .title-recipe {
        margin-top: 10px;
    }

    .create-comment {
        border-radius: 25px 25px;
    } 
    
    .display-comments {
        border-radius: 25px 25px;
    }

    .comment-row {
        margin-left: 1px;
    }

    .form-addr {
        padding: 10px 25px;
    }

    .comment-user {
        margin-left: -30px;
        border-radius: 0px 25px 25px 0px;
    }

    .padding {
        padding: 0px !important;
    }


    /* Form sizing */

    .form-sizing {
        margin-left: 15px;
        margin-right: 15px;
    }

    /* Profile page */

    .fs-1 {
        font-size: calc(1rem + 1vw) !important;
    }
    

    /* Log out page */
    
    .log-out {
        margin-top: 30%;
    }

    .follow-text {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    /* Home page */

    .home-text-bg {
        top: 25%;
    }

    /* About page */ 
    
    .col-5 {
        width: 100%;
    }

    .col-md-12 {
        width: 60%;
    }

    .col-6 {
        width: 100%;
    }

    /* Recipe page */

    .w-25 {
        width: 18% !important;
    }

    .delete-w {
        width: 21%;
    }

    .margin-t {
        margin-top: 30px !important;
    }

    /* Contact page */

    .col-md-6 {
        width: 80%;
    }
}

@media screen and (min-width: 992px) {

    /* Home page */

    .mt-4 {
        margin-top: 20rem !important;
    }

    .recipe-info {
        flex-direction: row;
    }

    .recipe.img {
        width: 40%;
        margin: 0 auto;
    }

    .recipe-detail {
        width: 60%;
        padding: 2rem;
    }

    .recipe-container {
        flex-direction: row;
    }

    .ingredients {
        width: 33.33%;
    }

    .instructions {
        width: 66.66%;
    }

    .profile {
        flex-direction: row;
    }

    .info {
        width: 30%;
    }

    .profile-recipes {
        width: 70%;
        padding: 1.5rem 3rem;
    }

    .profile-recipes a {
        text-decoration: none;
    }
}

@media screen and (min-width: 1024px) {
    
    /* Home page */ 

    .home-text-bg {
        top: 40%;
    }

    /* About page */

    .col-md-12 {
        width: 40%;
    }
}