{% load static %}

<footer>
    <!-- Social media icons -->
    <a href="" target="_blank" rel="noopener" aria-label="Facebook - Opens in a new tab">
        <img src="{% static '/icons/facebook.svg' %}" alt="Facebook link" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Github - Opens in a new tab">
        <img src="{% static '/icons/github.svg' %}" alt="Github link" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Instagram - Opens in a new tab">
        <img src="{% static '/icons/instagram.svg' %}" alt="Instagram link" class="social-icon">
    </a>
    <a href="" target="_blank" rel="noopener" aria-label="Twitter - Opens in a new tab">
        <img src="{% static '/icons/twitter.svg' %}" alt="Twitter link" class="social-icon">
    </a>
</footer>