{% extends "base.html" %}
{% load static %}

{% block title %}About NourishNShare {% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-5 text-center">
            <img class="col-md-12 col-lg-12 rounded"
            src="{% static 'images/dan-gold-E6HjQaB7UEA-unsplash.webp' %}" width="75%" />
        </div>
        <div class="col-6 about-text text-center mt-5">
            <!-- Title goes between these h2 tags -->
            <h2>{{ about.title }}</h2>
            <!-- Content goes directly underneath this -->
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Updated on field goes in here -->

            <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
</div>
{% endblock %}