{% extends "base.html" %}
{% load static %}

{% block title %}About NourishNShare {% endblock %}

{% block content %}
<div class="clearfix">
    <img src=" {% static 'images/ella-olsson-KPDbRyFOTnE-unsplash.webp' %} " class="col-md-6 float-md-end mb-3 ms-md-3" alt="...">
  
    <p>
        NourishNShare began as a passion project among a group of culinary enthusiasts who simply loved to cook and share recipes. Their journey started with a shared love for food and a desire to bring people together through the joy of cooking.
        Drawing from their diverse culinary backgrounds and experiences, they curated a collection of delicious recipes spanning cuisines from around the world.
    </p>
  
    <p>
        Driven by their belief in the power of food to create connections and foster community, they launched NourishNShare as a platform to showcase their culinary creations and share their love for cooking with others. 
        From savory mains to decadent desserts, their recipe catalog grew as they experimented with flavors and techniques, 
        always striving to inspire others to get creative in the kitchen.
    </p>
  
    <p>
        As their online presence grew, so did their community of followers, who eagerly awaited each new recipe post or cooking tip. 
        What started as a small endeavor quickly blossomed into a vibrant online community of food lovers, united by their passion for exploring new flavors and sharing their culinary adventures.
    </p>
    
    <p>
        With a focus on inclusivity and accessibility, NourishNShare welcomed home cooks of all skill levels, encouraging them to embark on their own culinary journeys with confidence.
        Whether it was a simple weeknight meal or an elaborate dinner party spread, the company's recipes and cooking tips were designed to empower people to unleash their inner chef and create memorable meals to share with loved ones.
    </p>
  </div>
{% endblock %}