{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block title %}Contact page{% endblock %}

{% block content %}
<div class="row contact-container">
    <div class="col-12 col-md-6 my-5 contact-boxes">
        <h2>What's on your mind?</h2>
        <p>Have 
        </p>
        <div class="row">
            <div class="col-md-8 mt-3 offset-md-2">
                <form method="post">
                    {% csrf_token %}
                    {{ contact_form|crispy }}
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}